html{
    margin: 0;
    padding: 0;
   }
   #container{
    margin: 0 auto; 
    max-width: 960px;
    width: 100%;
    font-family: sans-serif;
   }
   h2, time{
    color: #fae983;
    margin: 0;
   }
   h3 {
    color: #fae983;
    font-size: 24px;
   }
   h4 {
       margin: 6px 0 0 0;
       color: #fae983;
       font-size: 18px;
   }
   body {
     background-color: #0e2440;
   }
   header{
    text-align: center;
    background-color: #fae983;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
   }
   .logo{
    max-width: 30%;
    height: auto;
   }
   #bio{
    display: flex;
    flex-wrap: wrap; 
    margin-top: 35px;

   }
   #profile{
    max-width: auto;
    max-height: 30px;
    border-radius: 5px;
    
   }
   
   #bio-details{
    flex: 1;
    margin-left: 20px;
    border-radius: 5px;
    
   }
   #namedate{
    color: 4885e7;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
   }
   #datetime {
    font-size: 20px;
   }
   
    
   #dev-list{
    background-color: #484848;
    padding: 10px;
    border-radius: 5px;
    
   }
   #dev-list > h3 {
    margin: 0;
    color: #fae983;
   }

   #dev-list > ul {
    color: #fffdd0;
    font-size: 16px;
    list-style-position: inside;
    padding: 0;

   }
   #tech{
    margin: 20px;
    display: flex; 
    justify-content: space-between; 
    
   }
   figure {
    margin: 0px;
    display: flex;
    flex-direction: column;
    max-width: 180px;
   }
   
   figure img {
   max-height: 180px;
    
   }
   figcaption {
    background: rgba(3,3,3,.6);
    color: #fffdd0;
    text-align: center; 
    position: relative; 
    bottom: 25px; 
    padding: 6px;
    border-radius: 5px;
   }
   #interest-learn {
       background-color:  #484848;
       padding: 10px;
       border-radius: 5px;

   }
   #interest-learn > p{
    color: #fffdd0; 
   }

   footer {
    color: #fffdd0;
    font-size: 14px; 
    margin: 6px 0;
    text-align: center;
    width: 100%;
   }
